body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  box-sizing: border-box;
  padding: 80px 70px 80px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-flow: row-reverse nowrap;
}
.header .content {
  flex: 1 1 100%;
}
.header .langs {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .langs .lang {
  margin-left: 14px;
}
.header .langs .lang .flag {
  font-size: 0;
  text-decoration: none;
  overflow: hidden;
  border-radius: 6px;
  border: 2px solid #0000cc;
  display: block;
  transition: border-color 400ms ease;
}
.header .langs .lang .flag.active {
  cursor: default;
  pointer-events: none;
  border-color: #ccc !important;
  opacity: 0.6;
}
.header .langs .lang .flag:hover {
  border-color: #cc0000;
  transition: none;
}
.header .langs .lang .flag img {
  width: 60px;
  height: 41px;
  display: block;
}
.header .name {
  position: relative;
  margin: 0;
  font-size: 2.2em;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 0.1em;
}
.header .job {
  margin: 0;
  font-size: 2.2em;
  line-height: 1.1em;
}
.promo {
  margin-top: 1.5em;
  display: flex;
  flex-flow: row nowrap;
}
.promo .video {
  flex: 1 1 100%;
  font-size: 0;
}
.promo .video .iframe-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56%;
}
.promo .video .iframe-wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.promo .text {
  flex: 0 0 300px;
  margin: 0;
  padding-left: 40px;
}
@media (max-width: 950px) {
  .promo {
    flex-flow: column nowrap;
  }
  .promo .video {
    flex: 1 1 auto;
  }
  .promo .text {
    flex: 1 1 auto;
    margin-top: 1em;
    padding-left: 0;
    max-width: 700px;
  }
}
.cols {
  margin-top: 4em;
  display: flex;
  flex-flow: row nowrap;
}
.cols .left {
  flex: 1 1 100%;
}
.cols .right {
  flex: 0 0 240px;
  padding-left: 60px;
}
@media (max-width: 950px) {
  .cols {
    flex-flow: column nowrap;
  }
  .cols .left {
    flex: 1 1 auto;
  }
  .cols .right {
    padding-top: 4em;
    flex: 1 1 auto;
    padding-left: 0;
  }
}
.content {

}
.content h2 {
  margin: 2em 0 0.6em 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  position: relative;
}
.content h2:first-child {
  margin-top: 0;
}
.content h3 {
  margin: 1em 0 0.3em 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  position: relative;
}
.content h2 + h3 {
  margin-top: 0;
}
.content p {
  margin: 0;
}
.content p + p {
  margin: 0.8em 0 0 0;
}
.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.links li {
  margin-top: 0.5em;
}
.links li:first-child {
  margin-top: 0;
}
.content a {
  color: #00c;
  border-bottom: 1px solid rgba(0,0,204,0.4);
  text-decoration: none;
  transition: border-color 400ms ease, color 700ms ease;
}
.content a:visited {
  color: #a424e9;
  border-bottom: 1px solid rgba(164,36,233,0.4);
}
.content a:hover {
  color: #c00;
  border-bottom: 1px solid #c00;
  transition: none;
}
.contacts.floaty .fixed {
  position: fixed;
  top: 40px;
}
.icon {
  position: absolute;
  top: 0;
  padding-right: 0.25em;
  right: 100%
}
.icon img {
  width: 1em;
  height: 1em;
  max-width: none;
}
@media (max-width: 700px) {
  .header {
    flex-flow: column nowrap;
  }
  .header .langs {
    margin-bottom: 1.5em;
    align-self: flex-end;
  }
  .header .langs .lang:first-child {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .header .langs {
    align-self: flex-start;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .wrapper {
    padding: 60px 40px 40px 30px;
  }
  .header .name .icon {
    display: none;
  }
}
@media (max-width: 400px) {
  .header .name {
    margin-bottom: 0.3em;
  }
}
